@import url('https://fonts.googleapis.com/css?family=Urbanist:300,400,600,700');

.rr__new,
.rr__row_close_guest {
    display: none;
}


.guestResult,
.rr_cancel_reserv {
    display: none;
}

@media screen and (max-width: 600px) {

    .rr__new,
    .rr__row_close_guest {
        display: block;
    }

    .rr__button *,
    .rr__container * {
        font-family: 'Urbanist', sans-serif;
        font-weight: 300;
    }

    .rr__date__col,
    .rr__promo,
    .rr__container .rr__modifiy,
    .rr__infos_maps,
    .rr__map_bs_title {
        display: none !important;
    }

    .rt__popup,
    .rr_map_extend {
        position: fixed;
        width: 100% !important;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 9999999 !important;
        animation: none !important;
        max-width: none;
        opacity: 1 !important;
        background: white;
        pointer-events: initial;
        display: none !important;
    }

    .rr__container .rr__grpLegend {
        flex-direction: row !important;
        flex-wrap: nowrap !important;
        padding: 0 10px !important;
    }

    .rr__container .rr__container_body--middle {
        display: block !important;
        box-shadow: none !important;
        position: relative !important;
        padding-top: 0px !important;
        z-index: 9 !important;
        top: initial !important;
    }

    .rr__container .rr__xtease_title {
        font-size: 16px;
        background: #ffffff;
        color: #000000;
        font-weight: 500;
        text-align: center;
    }

    .rr__container .rr__xtease_title p {
        font-weight: bold;
        text-transform: uppercase;
    }

    .rr__container {
        left: 0;
        bottom: -290%;
        right: 0;
        top: 0;
        width: 100%;
        max-height: none;
        height: 100%
    }

    .rr__container.open {
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        width: 100%;
        max-height: none;
        height: 100%;
        overflow: auto;
    }

    .rr__container .date-picker-wrapper .month-wrapper table .week-name th {
        background: #ffffff;
        color: #000000;
    }

    .rr__container .rr__grpLegend .ui-state-active,
    /* .rr__container .rr__submit, */
    .rr__container .date-picker-wrapper .month-wrapper table .day.checked {
        background-color: #000000 !important;
        border: 0 !important;
        color: white !important;
    }

    .rr__container .rr__close {
        background: transparent;
        z-index: 99999999999;
        width: 40px;
        height: 40px;
        line-height: 40px;
    }

    .rr__container .rr__close .bar:after,
    .rr__close .bar:before {
        background-color: #000000;
    }

    .rr__container .date-picker-wrapper table .caption .prev::before,
    .rr__container .date-picker-wrapper table .caption .next::before {
        font-size: 20px;
    }

    .rr__menu_button {
        background-color: white;
        border: 0;
        padding: 10px !important;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 9999999999;
        width: 60px;
    }

    .rr__container.open {
        top: 0% !important;
        width: 100%;
        height: 100%;
        max-height: none;
        left: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
    }

    .rr__menu {
        position: absolute;
        width: 70%;
        height: 100%;
        background-color: #ffffff;
        top: 0;
        left: -100%;
        box-shadow: 0 0 71px #00000059;
        z-index: 9999999;
        transition: left 0.3s ease-in-out;
    }

    .rr__menu.open {
        left: 0;
        /* Slide into view */
    }

    .rr__close_menu {
        background-color: transparent;
        border: 0;
        position: relative;
        r: 0;
    }

    .rr_menu_mobile {
        padding: 10px;
        list-style: none;
    }

    .rr_menu_mobile li {
        padding: 15px;
        text-transform: uppercase;
        font-weight: 700;
    }

    .rr__container_menu hr {
        opacity: 0.2;
    }

    .rr__container .date-picker-wrapper .month-wrapper table .day.toMonth.valid,
    .rr__container .rr__grpLegend .BECalOpen {
        background-color: #f7f7f7;
    }

    .rr__container .date-picker-wrapper .month-wrapper table .day::after {
        content: "...";
        position: absolute;
        bottom: 7px;
        left: 50%;
        transform: translateX(-50%);
        line-height: 1;
        font-size: 11px;
        font-weight: 500;
        animation: loadPrice 2s forwards;
        border: 0;
        width: auto;
        height: auto;
        top: inherit;
    }

    @keyframes loadPrice {
        0% {
            content: "...";
        }

        100% {
            /* content: "99$"; */
        }
    }

    .rr__container .rr__container_body--all {
        max-height: none;
    }

    .rr__container .rr__container_body--right-container {
        /* height: auto; */
        position: relative;
        padding: 0 10px;
    }

    .rr__grpLegend .LegendItem:nth-child(1),
    .rr__grpLegend .LegendItem:nth-child(2),
    .rr__grpLegend .LegendItem:nth-child(3) {
        display: none;
    }

    .rr__container .rr__container_body--left {
        background-color: #F5F5F5;
        color: #000000;
        margin: 10px 10px 0;
        border-radius: 6px;
        padding: 0px !important;
    }

    .rr__promotions {
        padding: 5px !important;
    }

    /* .rr__container .rr__guests__item--down,
    .rr__container .rr__guests__item--up,
     {
        
    } */

    .rr__container .rr__date__col,
    .rr__container .rr__guests__col {
        flex-basis: 100%;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 0 5px 0;
        border: 0;
    }

    .rr__container .rr__label label {
        font-weight: BOLD;
        font-size: 14px !important;
        text-transform: capitalize;
    }

    .rr__container .rr__guests__item--down,
    .rr__container .rr__guests__item--up,
    .rr__room__qty--down.Booking__guests__item--down,
    .rr__room__qty--up.Booking__guests__item--up {
        border: 1px solid #000;
        border-radius: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        color: #000000;
    }

    .rr__container .rr__guests__item .value {
        font-size: 18px;
        margin: 0 15px;
        font-variant-numeric: tabular-nums;
        font-weight: 600;
    }

    .rr__container .rr__submit {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px;
        box-shadow: 0 -6px 30px #e4e4e4;
        background-color: transparent;
        height: 80px;
        transition: all 1s ease-in-out;
    }

    .rr__container.open .rr__submit {
        position: fixed;
        z-index: 9;
    }

    .rr__container .rr__container_body--right {
        padding: 0 !important;
    }

    .rr__container .rr__submit_button {
        background-color: black;
    }

    .rr__container .rr__submit_p {
        right: 20px;
    }

    .guestResult {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        justify-content: space-between;
        font-size: 14px;
        letter-spacing: 1px;
    }

    .rr__container .rr__infos__stay {
        height: auto;
        display: none;
    }

    .rr__container .rr__infos__stay.open {
        display: flex;
        padding: 0;
    }

    .guestResult h4 {
        margin-bottom: 5px;
        opacity: 0.7;
        font-size: 12px;
    }

    .guestResult button {
        border: 0;
        background-color: transparent;
    }

    .rr__close_guest {
        border: 0;
        background-color: transparent;
    }

    .rr__row_close_guest {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    .rr__row_close_guest h4 {
        font-weight: 700;
        text-transform: uppercase;
    }

    .nbRoom {
        font-weight: 700;
    }

    .rr__container .g__rating--global {
        display: block;
    }

    .rr__container .rt__popup_header {
        width: 100%;
        background-color: #ffffff;
        color: #000000;
        text-transform: uppercase !important;
        letter-spacing: 1px;
        pointer-events: initial;
        font-size: 16px;
        box-shadow: 0 -4px 23px rgb(0 0 0 / 70%);
    }

    .rr__container .rt__popup_header p {
        font-weight: 700;
        line-height: 1.8;
    }

    .rr__container .rt__popup_body--total .rat {
        font-size: 50px;
        font-weight: 700;
        margin-right: 10px;
    }

    .rr__container .rt__popup_body--total sub {
        display: none;
    }

    .nbr__rat {
        font-size: 12px;
        text-align: left;
    }

    .rt__popup_body--total {
        padding: 30px 0;
        margin-bottom: 30px;
        border-bottom: 1px solid #e7e7e7;
    }

    .rr__container .rr-booking .g__rating-num span,
    .rr__container .rr-exp .g__rating-num span,
    .rr__container .rr-ta .g__rating-num span {
        background-color: transparent;
        color: #000;
        font-weight: bold;
        display: inline-block;
        width: auto;
        height: auto;
        font-size: 16px;
    }

    .rr__container .g__container {
        padding-bottom: 30px;
        position: relative;
    }

    .rr__container .g__container::after {
        content: "";
        width: 100%;
        background-color: rgb(210, 210, 210);
        height: 4px;
        border-radius: 5px;
        bottom: 15px;
        position: absolute;
    }

    .rr__container .g__container::before {
        content: "";
        width: 90%;
        background-color: rgb(255, 204, 0);
        height: 4px;
        border-radius: 5px;
        bottom: 15px;
        position: absolute;
        z-index: 2;
    }

    .g__rating-icon {
        display: none;
    }

    .rr__maps {
        width: 100%;
        height: 100%;
        display: block;
        position: fixed;
        background: #fff;
        z-index: 999999;
    }

    .rr__container .rr__container_body h2 {
        text-transform: uppercase;
        text-align: center;
        font-family: inherit;
        font-size: 18px;
        z-index: 99999;
        background: #ffffff;
        position: relative;
        display: block;
        letter-spacing: 1px;
        padding: 10px;
    }

    #maps_big {
        display: block;
        width: calc(100% - 0px);
        height: calc(100% - 0px);
        z-index: 99;
        right: 0px;
        left: 0px;
        bottom: 0px;
        text-align: center;
        display: flex !important;
        align-items: center;
        justify-content: center;
    }

    .rr_map_sidebar {
        display: block !important;
        top: initial;
        background: transparent;
    }

    .rr_map_title {
        text-align: center;
        justify-content: center;
        height: 50px;
        padding: 10px;
    }

    .rr_map_title span,
    .rr_places_res span {
        font-weight: 700;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .rr__t_close_mobile,
    .rr__t_close,
    .rr_category.map_category,
    .rr_map_category_title,
    .rr_places_res {
        display: none;
    }

    .rr_map_sidebar_open {
        display: block;
    }

    .rr_map_category {
        bottom: initial;
        top: 55px;
        height: 120px;
        box-shadow: none;
        pointer-events: initial;
        flex-direction: row;
        background: transparent;
    }

    .rr_places {
        padding: 0;
        width: 100%;
        width: 100%;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        flex: initial;
    }

    .rr_places_container {
        flex: initial;
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .rr_places_item {
        display: inline-block;
        width: 200px;
    }

    .rr_places_desc {
        display: block;
    }

    .rr_cancel_reserv,
    .rr_m_offers {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: white;
        z-index: 999999;
    }

    .rr__form {
        margin-top: 40px;
        padding: 15px;
    }

    .rr_form {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        /* padding: 10px; */
    }

    .rr_form input {
        padding: 15px;
        margin: 10px 0;
        border: 1px solid #000;
        border-radius: 0;
        font-size: 14px;
    }

    .rr_form label {
        text-transform: capitalize;
        font-size: 14px;
        text-align: left;
        font-weight: bold;
        letter-spacing: 0;
    }

    .rr_form label span {
        color: red;
    }

    .rr_cancel_reserv-send {
        background-color: black;
        color: white;
        padding: 15px;
        border: 0;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
        width: 100%;
    }

    .rr__xtease.xtease {
        background: #f5f5f5;
        padding: 10px;
        margin: 0 10px;
        border-radius: 2px;
    }

    .rr__container .date-picker-wrapper .month-wrapper table .week-name {
        height: 40px !important;
    }

    .rr__container .date-picker-wrapper .month-wrapper table .day {
        min-height: 50px !important;
    }

    .rr__container .rr__xtease_body--portail {
        padding: 10px 0;
    }

    .date-picker-wrapper.no-shortcuts.inline-wrapper.no-gap.single-month {
        padding: 5px 10px;
        background: white;
    }

    .rr__calender {
        padding: 10px;
        background-color: #f5f5f5;
        margin: 0 5px;
        border-radius: 4px;
    }

    .rr__editGuest.multiRooms,
    .rr__editGuest.onlyChild {
        display: block;
        top: initial !important;
        position: initial !important;
        min-width: auto !important;
        width: 100%;
        height: auto;
        border: 0;
    }

    .rr__guests__col.Rooms {
        flex-direction: column-reverse;
    }

    .rr__editGuest::before {
        display: none;
    }

    .rr__editGuest--footer {
        flex-direction: column;
    }

    .multiRooms .rr__edit_apply {
        padding: 10px;
        background-color: black;
    }

    .rr__editGuest--header {
        display: none;
    }

    /* code need to be removed */
    .rr__editGuest-item.rr__roomLine:first-child .rr__delete_room {
        display: block;
    }

    /* End code need to be removed */

    .rr__lineRoom-numOfRoom.rr__roomLine-numOfRoom {
        display: flex;
    }

    .rr__editGuest--info.rr__lineRoom {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .rr__editGuest--info>div {
        margin: 0;
        margin-bottom: 10px;
    }

    .rr__editGuest.multiRooms,
    .rr__editGuest.onlyChild {
        justify-content: start !important;
    }

    .rr__container .rr__editGuest.multiRooms,
    .rr__container .rr__editGuest.onlyChild {
        top: 130px !important;
        max-height: 400px !important;
        box-shadow: 0 0 30px #aaa;
        border-radius: 0 !important;
    }
}