@import url('https://fonts.googleapis.com/css?family=Urbanist:300,400,600,500,700');
@import url("https://api.globres.io/RealRate/assets/lib/css/RRicon.css");
@media screen and (max-width: 600px) {

    .rr__button *,
    .rr__container * {
        font-family: 'Urbanist', sans-serif;
        font-weight: 300;
        box-sizing: border-box;
        margin: 0;
        padding: 0;

    }

    .rr__container {
        width: 100%;
        height: 100%;
        position: fixed;
        bottom: 0;
        left: 0%;
        top: -100%;
        right: 0;
        display: flex;
        flex-direction: column;
        transition: all 0.4s cubic-bezier(0.51, 0.16, 0.43, 0.73);
        background-color: white;
    }

    .rr__container.open {
        top: 0%;
    }

    .rr_view {
        /* display: none; */
        flex: 1;
        overflow-y: auto;
        padding-bottom: 100px;
    }

    .rr__container--header {
        padding: 10px;
        background-color: #ffffff;
        color: #000000;
        display: flex;
        box-shadow: 0 -4px 23px rgb(0 0 0 / 50%);
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .rr__menu--close {
        position: absolute;
        right: 0;
        top: 0;
    }

    .rr__roomLine {
        width: 100%;
    }

    .rr__container--header h5 {
        text-transform: uppercase !important;
        letter-spacing: 1px;
        font-weight: bold;
        font-size: 16px;
        margin: 0;
    }

    .rr__menu {
        position: absolute;
        width: 70%;
        height: 100%;
        background-color: #ffffff;
        top: 0;
        left: -100%;
        box-shadow: 0 0 71px #00000059;
        z-index: 9999999;
        transition: left 0.3s ease-in-out;
        padding-top: 20px;
    }

    .rr__menu.open {
        left: 0;
    }

    .rr__menu--nav {
        padding: 10px;
        margin: 0;
        list-style: none;
    }

    .rr__menu--nav li {
        padding: 15px;
        text-transform: uppercase;
        font-weight: 700;
    }

    .rr__menu hr {
        opacity: 0.2;
    }

    .rr__component {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        justify-content: space-between;
        font-size: 14px;
        padding: 10px !important;
        margin: 0 10px;
        background-color: #f5f5f5;
        margin-top: 15px;
        border-radius: 5px;
    }

    .rr__component h4 {
        margin-bottom: 4px;
        font-weight: lighter;
        letter-spacing: 1px;
        font-size: 12px;
    }

    .rr__component span {
        font-weight: bold;
        letter-spacing: 1px;
    }

    .rr__xtease_title {
        font-size: 16px;
        background: #ffffff;
        color: #000000;
        font-weight: 500;
        text-align: center;
    }

    .rr__xtease {
        margin-top: 20px;
    }

    .rr__xtease h5 {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 16px;
        background: #ffffff;
        color: #000000;
        font-weight: 700;
        text-align: center;
        margin: 10px 0;
    }

    .xtease {
        background: #f5f5f5;
        padding: 10px;
        margin: 0 10px;
        border-radius: 5px;
    }

    .rr__xtease_body {
        padding: 5px;
        padding-top: 0;
        position: relative;
    }

    .rr__xtease_body--p {
        flex: 3;
        text-align: right;
        font-size: 14px;
    }

    .rr__xtease_body--portail {
        display: flex;
        align-items: center;
        padding: 10px 0;
        border-bottom: 1px dashed #c1c1c1;
    }

    .rr__submit {
        box-shadow: 0 -6px 30px #e4e4e4;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px;
        height: 80px;
        transition: all 1s ease-in-out;
        color: white;
        background-color: white;
        z-index: 9;
    }

    .rr__submit_button {
        background-color: black;

        color: #ffffff;
        height: 100%;
        border: 0;
        width: 100%;
        outline: none;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 500;
        text-align: left;
        padding: 10px 20px;
        font-family: inherit;
    }

    span.rr__code_type {
        font-weight: 300;
    }

    .rr__submit_p {
        display: flex;
        position: absolute;
        align-items: center;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
    }

    .rr__submit--price {
        font-weight: 700;
        font-size: 30px;
        position: relative;
    }

    .rr__submit--currency {
        margin-left: 5px;
        font-size: 16px;
    }

    .rr__container .date-picker-wrapper .month-wrapper table .day.toMonth.valid {
        color: #333;
        font-weight: 500;
        position: relative;
        font-size: 14px;
        border: 1px solid #e4e4e4;
    }

    .rr__container .date-picker-wrapper .month-wrapper table,
    .rr__container .date-picker-wrapper .month-wrapper table.month2 {
        width: 100%;
        margin: 0;
    }

    .rr__container .date-picker-wrapper .month-wrapper table .week-name {
        height: 40px !important;
    }

    .rr__container .date-picker-wrapper .month-wrapper table .week-name th {
        background: #ffffff;
        color: #000000;
        width: 14%;
        padding: 13px 0;
        font-size: 14px;
        font-weight: 700;
    }

    .rr__container .date-picker-wrapper .month-wrapper table .day {
        min-height: 50px !important;
        margin: 1px;
        font-size: 16px;
    }

    .rr__container .date-picker-wrapper.no-shortcuts.inline-wrapper.no-gap.single-month {
        padding: 0;
        background: white;
        border: 0;
    }

    .rr__container .date-picker-wrapper .month-wrapper {
        border: 0;
    }

    .rr__container .date-picker-wrapper .gap,
    .rr__container .date-picker-wrapper .footer,
    .rr__container .date-picker-wrapper .drp_top-bar {
        display: none;
    }

    .rr__container .date-picker-wrapper .month-wrapper table .day::after {
        content: "...";
        position: absolute;
        bottom: 7px;
        left: 50%;
        transform: translateX(-50%);
        line-height: 1;
        font-size: 11px;
        font-weight: 500;
        animation: loadPrice 2s forwards;
        border: 0;
        width: auto;
        height: auto;
        top: inherit;
    }

    #rr__calender {
        width: 100%;
    }

    .rr__container .date-picker-wrapper .month-wrapper table .day.real-today {
        background-color: inherit;
    }

    .rr__container .date-picker-wrapper .first-date-selected {
        position: relative;
        background-color: #000 !important;
        color: #fff !important;
    }

    .rr__container .rr__grpLegend .ui-state-active,
    .rr__container .date-picker-wrapper .month-wrapper table .day.checked,
    .rr__container .date-picker-wrapper .month-wrapper table .day.toMonth.hovering {
        background-color: #000 !important;
        border: 0 !important;
        color: white !important;
        display: flex;
        align-items: center;
        flex-flow: column;
    }

    .rr__container .date-picker-wrapper .month-element {
        font-size: 16px;
        color: black;
        font-weight: 600;
    }

    .rr__container .date-picker-wrapper table .caption .next::before,
    .rr__container .date-picker-wrapper table .caption .prev::before {
        content: "\e900";
        position: absolute;
        font-family: "RRicon" !important;
        visibility: visible;
        font-size: 20px;
        color: black;
        top: 5px;
    }

    .rr__container .date-picker-wrapper table .caption .next::before {
        transform: rotate(-90deg) translateX(-50%);
        right: 5px;
    }

    .rr__container .date-picker-wrapper table .caption .prev::before {
        transform: rotate(90deg) translateX(50%);
        left: 5px;
    }

    @keyframes loadPrice {
        0% {
            content: "...";
        }

        100% {
            content: "99$";
        }
    }

    @media all and (-ms-high-contrast: none) {

        .rr__container .date-picker-wrapper table .caption .next,
        .rr__container .date-picker-wrapper table .caption .prev {
            visibility: visible;
            font-size: 45px;
        }

        .rr__container .date-picker-wrapper table .caption .next::before,
        .rr__container .date-picker-wrapper table .caption .prev::before {
            display: none;
        }

        /* IE10 */
        *::-ms-backdrop,
        .rr__container .date-picker-wrapper table .caption .next,
        .rr__container .date-picker-wrapper table .caption .prev {
            visibility: visible;
        }

        .rr__container .date-picker-wrapper table .caption .next::before,
        .rr__container .date-picker-wrapper table .caption .prev::before {
            display: none;
        }
    }

    .rr__container .date-picker-wrapper.no-shortcuts {
        border: 0;
        padding: 0;
        width: 100%;
        font-weight: 300;
    }

    .date-picker-wrapper table .caption .next,
    .date-picker-wrapper table .caption .prev {
        visibility: hidden;
    }

    .calendarEdit,
    .promoEdit,
    .guestEdit {
        align-items: start;
        flex-direction: column;
    }

    .rr__container .rr__grpLegend {
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 10px;
    }

    .rr__container .LegendItem {
        text-transform: capitalize;
        flex-grow: 1;
        display: flex;
        align-items: center;
        font-size: 13px;
        font-style: italic;
        text-align: left;
    }

    .rr__container .rr__grpLegend .Lgnd {
        vertical-align: middle;
        display: inline-block;
        width: 16px;
        height: 16px;
        margin: 0 5px 0 0;
    }

    .RealRate-BB-container td[status-date="MinStay"] .day,
    .rr__grpLegend .BEMinLen {
        background-color: #bdf0f7 !important;
    }

    .rr__container .rr__grpLegend .BENoArrive {
        background-image: linear-gradient(135deg, #d4dbc5 50%, #FFF 50%);
    }

    /* .rr__promocode, */
    .rr__promocode--select {
        display: flex;
        width: 100%;
        flex-direction: row;
        gap: 10px;
        margin-bottom: 10px;
    }

    .rr__promocode {
        width: 100%;
        /* gap: 10px; */
    }

    .rr__promo--input {
        padding: 10px;
        border: 0;
        width: 100%;
        appearance: none;
        border-radius: 0;

    }

    .rr__promo--apply {
        background-color: black;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 500;
        padding: 10px;
        width: 100%;
        margin-top: 10px;
    }

    .rr__guests__col {

        width: 100% !important;
        flex-direction: row !important;
        justify-content: space-between !important;
        padding: 0 0 5px 0 !important;
        border: 0;
        display: flex;
        align-items: center;
    }

    .rr__label {
        font-weight: bold;
        letter-spacing: 1px;
    }

    .rr__guests__item {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .rr__container .rr__guests__item--down,
    .rr__container .rr__guests__item--up,
    .rr__room__qty--down.Booking__guests__item--down,
    .rr__room__qty--up.Booking__guests__item--up {
        border: 1px solid #000;
        border-radius: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        color: #000000;
        padding: 8px;
        font-size: 10px;
    }

    .rr__container .rr__guests__item .value {
        font-size: 20px;
        margin: 0 10px;
        font-variant-numeric: tabular-nums;
        font-weight: 600;
    }

    .rr__roomLine--title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0;
    }

    .rr__roomLine--remove {
        color: red;
        font-size: 10px;
        letter-spacing: 0 !important;
    }

    .guestEdit,
    .calendarEdit,
    .promoEdit {
        display: none;
    }
}

.rr__button_cta {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    padding: 10px 25px 10px 25px;
    line-height: 1.3;
    background-color: #333;
    text-align: center;
    color: #fff;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(0.57, 0.37, 0.54, 0.01);
}